.frame-1,
.frame-1 * {
  box-sizing: border-box;
}
.frame-1 {
  background: #edb2f6;
  width: 1209px;
  height: 1057px;
  position: relative;
  overflow: hidden;
}
.avatar-1 {
  width: 202px;
  height: 247px;
  position: absolute;
  left: 48px;
  top: 14px;
}
.mariane-gabriele {
  color: #000000;
  text-align: left;
  font: 400 96px "Jacques Francois", sans-serif;
  position: absolute;
  left: 323px;
  top: 10px;
  width: 610px;
  height: 251px;
}
.colegio-civico-militar-vila-guaira {
  color: #000000;
  text-align: left;
  font: 400 20px "Irish Grover", sans-serif;
  position: absolute;
  left: 906px;
  top: 14px;
  width: 311px;
  height: 12px;
}
.coisas-que-eu-gosto {
  color: linear-gradient(
    180deg,
    rgba(255, 30, 246, 1) 0%,
    rgba(32, 18, 202, 1) 100%
  );
  text-align: left;
  font: 400 64px "Just Me Again Down Here", sans-serif;
  position: absolute;
  left: 339px;
  top: 283px;
}
.parneira-img-1 {
  width: 228px;
  height: 233px;
  position: absolute;
  left: 475px;
  top: 684px;
}
.livro-img-1 {
  width: 228px;
  height: 233px;
  position: absolute;
  left: 883px;
  top: 684px;
}
.lana-img-1 {
  width: 228px;
  height: 233px;
  position: absolute;
  left: 488px;
  top: 398px;
}
.filme-img-1 {
  width: 230.97px;
  height: 233px;
  position: absolute;
  left: 880px;
  top: 398px;
}
.dog-img-1 {
  width: 228px;
  height: 233px;
  position: absolute;
  left: 111px;
  top: 398px;
}
.banda-img-1 {
  width: 228px;
  height: 233px;
  position: absolute;
  left: 111px;
  top: 684px;
}
.animal {
  color: #000000;
  text-align: left;
  font: 400 32px "Keania One", sans-serif;
  position: absolute;
  left: 176px;
  top: 631px;
}
.cantora {
  color: #000000;
  text-align: left;
  font: 400 32px "Keania One", sans-serif;
  position: absolute;
  left: 546px;
  top: 624px;
}
.filme {
  color: #000000;
  text-align: left;
  font: 400 32px "Keania One", sans-serif;
  position: absolute;
  left: 956px;
  top: 624px;
}
.banda {
  color: #000000;
  text-align: left;
  font: 400 32px "Keania One", sans-serif;
  position: absolute;
  left: 176px;
  top: 917px;
}
.time {
  color: #000000;
  text-align: left;
  font: 400 32px "Keania One", sans-serif;
  position: absolute;
  left: 553px;
  top: 917px;
}
.livro {
  color: #000000;
  text-align: left;
  font: 400 32px "Keania One", sans-serif;
  position: absolute;
  left: 962px;
  top: 917px;
}
.a-vida-me-ensinou-a-nunca-desistir {
  color: #000000;
  text-align: left;
  font: 400 32px "Merienda One", sans-serif;
  position: absolute;
  left: 314px;
  top: 993px;
}
.by-chor-o {
  color: linear-gradient(
    180deg,
    rgba(32, 18, 202, 1) 0%,
    rgba(232, 12, 196, 0.66) 100%
  );
  text-align: left;
  font: 400 15px "Merienda One", sans-serif;
  position: absolute;
  left: 883px;
  top: 1022px;
}
